.heading
{
  font-size: 10px;
  font-family: Verdana;
  background-color: #973e08;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  height: 16px;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=  '#c1794b' , EndColorStr= '#933b08' );
}
.normal
{
  font-size: xx-small;
  font-family: Tahoma;
  text-align: center;
  background-color: #f5b400;
  border-bottom: 1px solid #c5772b;
  border-right: 1px solid #c5772b;
  border-top: 1px solid #c5772b;
  border-left: 1px solid #c5772b;
  width: 125px;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=  '#f5b400' , EndColorStr= '#fce7af' );
}
.normal2
{
  font-size: xx-small;
  font-family: Tahoma;
  text-align: center;
  background-color: #eb4000;
  border-bottom: 1px solid #c5772b;
  border-right: 1px solid #c5772b;
  border-top: 1px solid #c5772b;
  border-left: 1px solid #c5772b;
  width: 125px;
}

.frustrada
{
  font-size: xx-small;
  font-family: Tahoma;
  text-align: center;
  background-color: #CCCCCC;
  border-bottom: 1px solid #c5772b;
  border-right: 1px solid #c5772b;
  border-top: 1px solid #c5772b;
  border-left: 1px solid #c5772b;
  width: 125px;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=  '#CCCCCC' , EndColorStr= '#fce7af' );
}

.frustradaHeader
{
  font-size: xx-small;
  font-family: Tahoma;
  text-align: center;
  background-color: #CCCC66;
  border-bottom: 1px solid #c5772b;
  border-right: 1px solid #c5772b;
  border-top: 1px solid #c5772b;
  border-left: 1px solid #c5772b;
  width: 125px;
}

.normal a, .normal2 a
{
  color: #FFFFFF;
  text-decoration: none;
}
.frustradaHeader a
{
  color: #663300;
  text-decoration: none;
}

.empty
{
  font-size: xx-small;
  border-bottom: 1px solid #c5772b;
  border-right: 1px solid #c5772b;
  border-top: 1px solid #c5772b;
  border-left: 1px solid #c5772b;
  background: #F4E1C4;
  width: 125px;
}

