BODY {
	FONT-SIZE: small; voice-family: inherit
}
BODY DIV {
	FONT-SIZE: small; voice-family: inherit
}
BODY P {
	FONT-SIZE: small; voice-family: inherit
}
BODY TH {
	FONT-SIZE: small; voice-family: inherit
}
BODY TD {
	FONT-SIZE: small; voice-family: inherit
}
BODY LI {
	FONT-SIZE: small; voice-family: inherit
}
BODY DD {
	FONT-SIZE: small; voice-family: inherit
}
BODY PRE {
	FONT-SIZE: small; voice-family: inherit
}
BODY CODE {
	FONT-SIZE: small; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: small
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #596380; TEXT-DECORATION: underline
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #596380; TEXT-DECORATION: underline
}
A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #596380; TEXT-DECORATION: underline
}
A:hover {
	BACKGROUND: #cca78f; COLOR: #596380; TEXT-DECORATION: none
}
A.googlelogo {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
A.googlelogo:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
IMG.googleImg {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#menubar1 A:link {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; COLOR: #596380; PADDING-TOP: 1px; TEXT-DECORATION: none
}
#menubar1 A:visited {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; COLOR: #596380; PADDING-TOP: 1px; TEXT-DECORATION: none
}
#menubar1 A:active {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; COLOR: #596380; PADDING-TOP: 1px; TEXT-DECORATION: none
}
#menubar1 A:hover {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: #cca78f; PADDING-BOTTOM: 1px; COLOR: #596380; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.mnuBox A:link {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; WIDTH: 100%; COLOR: #596380; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.mnuBox A:visited {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; WIDTH: 100%; COLOR: #596380; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.mnuBox A:active {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; WIDTH: 100%; COLOR: #596380; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.mnuBox A:hover {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: #cca78f; PADDING-BOTTOM: 1px; WIDTH: 100%; COLOR: #596380; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.xPopupMenu .mnuBox A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #596380
}
.xPopupMenu .mnuBox A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #596380
}
.xPopupMenu .mnuBox A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #596380
}
.xPopupMenu .mnuBox A:hover {
	BACKGROUND: #cca78f; COLOR: #596380
}
.mnuOpt A:link {
	DISPLAY: inline; BACKGROUND: #cca78f; WIDTH: 100%; COLOR: #cca78f; TEXT-DECORATION: none
}
.mnuOpt A:visited {
	DISPLAY: inline; BACKGROUND: #727ea3; WIDTH: 100%; COLOR: #596380; TEXT-DECORATION: none
}
.mnuOpt A:active {
	DISPLAY: inline; BACKGROUND: #727ea3; WIDTH: 100%; COLOR: #596380; TEXT-DECORATION: none
}
.mnuOpt A:hover {
	DISPLAY: inline; BACKGROUND: #cca78f; WIDTH: 100%; COLOR: #596380; TEXT-DECORATION: none
}
.xPopupMenu .mnuOpt A:link {
	BACKGROUND: #cfd4e6; COLOR: #596380
}
.xPopupMenu .mnuOpt A:visited {
	BACKGROUND: #cfd4e6; COLOR: #596380
}
.xPopupMenu .mnuOpt A:active {
	BACKGROUND: #cfd4e6; COLOR: #596380
}
.xPopupMenu .mnuOpt A:hover {
	BACKGROUND: #cca78f; COLOR: #596380
}
#footer A:link {
	TEXT-DECORATION: none
}
#footer A:visited {
	TEXT-DECORATION: none
}
#footer A:active {
	TEXT-DECORATION: none
}
#footer A:hover {
	TEXT-DECORATION: none
}
.inA {
	DISPLAY: inline
}
B {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0.3em 0px 0.5em; COLOR: #000; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
.h4P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.3em 0px 0.5em 0.25em; PADDING-TOP: 0px
}
.h5P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: x-small; PADDING-BOTTOM: 0px; MARGIN: 0.3em 0px 0.5em 0.5em; PADDING-TOP: 0px; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
LI {
	MARGIN-BOTTOM: 0.5em
}
PRE {
	BORDER-RIGHT: #596380 1px dotted; PADDING-RIGHT: 10px; BORDER-TOP: #596380 1px dotted; PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 10px; MARGIN: 4px 2px 10px; OVERFLOW: hidden; BORDER-LEFT: #596380 1px dotted; COLOR: #596380; PADDING-TOP: 10px; BORDER-BOTTOM: #596380 1px dotted; FONT-FAMILY: 'courier new',monospace
}
CODE {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #596380; FONT-FAMILY: 'courier new',monospace
}
TT {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #596380; FONT-FAMILY: 'courier new',monospace
}
.titleHover {
	CURSOR: help; BORDER-BOTTOM: #cca78f 1px dotted
}
.h1Color {
	COLOR: #596380
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: xx-large; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #596380; PADDING-TOP: 0px; TEXT-ALIGN: left; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: xx-large
}
.h2Color {
	COLOR: #bf8660
}
.h2Bkgnd {
	BACKGROUND: #bf8660
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: large; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 4px; MARGIN: 2em 0px 1em; COLOR: #bf8660; PADDING-TOP: 4px; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: large
}
.h3Color {
	COLOR: #596380
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: medium; PADDING-BOTTOM: 0px; MARGIN: 2em 0px 1em; COLOR: #596380; PADDING-TOP: 0px; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: medium
}
#rightColumn H3 {
	FONT-SIZE: small; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: small
}
.h4Color {
	COLOR: #bf8660
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: small; PADDING-BOTTOM: 0px; MARGIN: 1.6em 0px 0.6em; COLOR: #bf8660; PADDING-TOP: 0px; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: small
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: x-small; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 1.6em 0px 0.6em; COLOR: #596380; PADDING-TOP: 0px; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
.h5i {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: x-small; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 1.6em 2em 0.6em 0px; COLOR: #596380; PADDING-TOP: 0px; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
#topLinkCon {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.smaller {
	FONT-SIZE: smaller
}
.textInput {
	BACKGROUND: #fff; WIDTH: 140px; COLOR: #000; FONT-FAMILY: 'courier new',monospace
}
.inpTxt {
	BORDER-RIGHT: #596380 1px solid; BORDER-TOP: #596380 1px solid; FONT-SIZE: 12px; BACKGROUND: #cca78f; BORDER-LEFT: #596380 1px solid; COLOR: #000; BORDER-BOTTOM: #596380 1px solid; FONT-FAMILY: 'Courier New',monospace
}
.inpBtn {
	BORDER-RIGHT: #596380 1px solid; BORDER-TOP: #596380 1px solid; FONT-SIZE: 10px; BACKGROUND: #cca78f; BORDER-LEFT: #596380 1px solid; CURSOR: pointer; COLOR: #000; BORDER-BOTTOM: #596380 1px solid
}
.noDisp {
	DISPLAY: none
}
.collapsible {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.mnuBox {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 4px; OVERFLOW: hidden; PADDING-TOP: 4px
}
.mnuOpt {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 4px; OVERFLOW: hidden; PADDING-TOP: 4px
}
.mnuBox P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: smaller; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.mnuOpt P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: smaller; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 30px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#menubar1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #596380; PADDING-TOP: 2px; TEXT-ALIGN: right
}
#menubar1 B {
	COLOR: #bf8660
}
.column {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; POSITION: absolute; TOP: 20px
}
#leftColumn {
	LEFT: 3%; WIDTH: 70%
}
#rightColumn {
	LEFT: 73%; WIDTH: 26%
}
.leftContent {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #fff; PADDING-BOTTOM: 20px; MARGIN: 0px 0px 10px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.firstLeftContent {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #fff; PADDING-BOTTOM: 20px; MARGIN: 0px 0px 10px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.rightContent {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #cfd4e6; PADDING-BOTTOM: 20px; MARGIN: 0px 0px 10px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.rightContent .collapsible P {
	FONT-SIZE: smaller
}
#footer {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: smaller; PADDING-BOTTOM: 10px; BORDER-TOP-STYLE: none; PADDING-TOP: 10px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.xToolbar {
	BACKGROUND: none transparent scroll repeat 0% 0%; OVERFLOW: hidden; WIDTH: 24px; POSITION: absolute
}
.xButton {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; BACKGROUND: #cfd4e6; MARGIN: 2px; OVERFLOW: hidden; WIDTH: 16px; CURSOR: pointer; COLOR: #596380; HEIGHT: 14px; TEXT-ALIGN: center
}
.xButtonHover {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; BACKGROUND: #cca78f; MARGIN: 2px; OVERFLOW: hidden; WIDTH: 16px; CURSOR: pointer; COLOR: #cfd4e6; HEIGHT: 14px; TEXT-ALIGN: center
}
.xPopupMenu {
	BORDER-RIGHT: #596380 1px outset; PADDING-RIGHT: 3px; BORDER-TOP: #596380 1px outset; PADDING-LEFT: 3px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #596380 1px outset; COLOR: #596380; PADDING-TOP: 3px; BORDER-BOTTOM: #596380 1px outset; POSITION: absolute
}
